<%- include('partials/_header') %>


<body>

  <%- include('partials/_navigation') %>

  
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('<%= base_url %>/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= postdetail.title %></h1>
            <h2 class="subheading"><%= postdetail.detail %></h2>
            <span class="meta"><%= postdetail.dateCreated.toString().substring(0, 15) %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <h2 class="section-heading"><%= postdetail.title %></h2>

          <p> <%= postdetail.detail %> </p>

        

          

          
          <a href="#">
            <img class="img-fluid" src="img/home-bg.jpg" alt="123123">
          </a>
         
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') %>


</body>

</html>
